.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 10px;
    color: #ff9409;         
    border: 2px solid #ff9409;  
    border-radius: 10px;
    width: 300px;
    height: 350px;
    padding: 10px 1px;
    background-color: rgba(240, 248, 255, 0.027);
}

.ciclo {
    font-size: 12px;
    color: #ff9409;         
    border: 2px solid #ff9409;  
    border-radius: 10px;
    width: 150px;
    height: 25px;
    padding: 5px 1px 10px 0px;
    background-color: rgba(33, 33, 33, 0.932);
}

.tempo {
    color: #3A0155;
    font-size: 25px;

    margin-top: 30px;
    margin-right: 18px;

    width: 150px;        
    height: 155px;      
    border: 7px solid #3A0155; 
    border-radius: 50%; 

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.123);

    box-sizing: border-box;
    overflow: hidden;
}

.fase {
    color: #ff9900;
    font-size: 12.5px;
}

.modalFundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalConteudo {
    background-color: #3A0155;
    padding: 2rem;
    border: 2px solid #ffffff; 
    border-radius: 8px;
    min-width: 300px;
}

.modalConteudo button {
    font-family: "Press Start 2P", system-ui;
    font-size: 12px;
    background-color: #ff9409;
    border: 2px solid #ffffff; 
    border-radius: 5px; 
    padding: 5px;
    margin-top: 20px;
}